/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#stage {
  margin: 0 auto;
  position: relative;
}

body {
  font-family: 'Press Start 2P';
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

.controls {
  margin: 0 auto;
  width: 500px;
}

.player-controls {
  display: flex;
}

.player-controls > .p2 {
  margin-left: 1rem;
}

.player-controls > .c-box {
  width: 250px;
  font-size: 80%;
}

.tips {
  font-size: 80%;
}

.tips > li {
  margin: 10px 0;
}

.game {
  display: flex;
  width: 675px;
  margin: 0 auto;
}

.hud {
  text-align: center;
}

#gameOverContainer {
  margin-top: 180px;
  width: 500px;
  text-align: center;
  position: absolute;
  display: none;
}

.smaller {
  font-size: 50%;
}

.centered {
  text-align: center;
}

a.unstyled {
  text-decoration: none;
  color: #fff;
}
