/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#stage {
  margin: 0 auto;
  position: relative;
}

html {
  background-color: #000;
}

body {
  font-family: 'Press Start 2P';
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

.controls {
  margin: 0 auto;
  width: 500px;
}

.player-controls {
  display: flex;
}

.player-controls > .p2 {
  margin-left: 1rem;
}

.player-controls > .c-box {
  width: 250px;
  font-size: 80%;
}

.tips {
  font-size: 80%;
  text-align: left;
  width: 475px;
  margin: 100px auto 0;
}

.tips li {
  margin: 10px 0;
}

.game {
  display: flex;
  width: 660px;
  margin: 0 auto;
}

.hud {
  text-align: center;
}

#gameOverContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

#gameOverContainer > .inner {
  margin-top: 200px;
}

.smaller {
  font-size: 50%;
}

.centered {
  text-align: center;
}

a.unstyled {
  text-decoration: none;
}

a {
  color: #fff;
}

#fps {
  width: 80px;
  margin: 0 auto;
  display: none;
}
