/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#stage {
  margin: 0 auto;
  position: relative;
}

html {
  background-color: #000;
}

body {
  font-family: 'Press Start 2P';
  background-color: #000;
  color: #fff;
}

h1 {
  text-align: center;
}

.controls {
  margin: 0 auto;
  width: 500px;
}

.tiny {
  font-size: 60%;
}

.player-controls {
  display: flex;
}

.player-controls > .p2 {
  margin-left: 1rem;
}

.player-controls > .c-box {
  width: 250px;
  font-size: 80%;
}

.game {
  display: flex;
  width: 720px;
  margin: 0 auto;
}

.hud {
  text-align: center;
}

#gameOverContainer {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.smaller {
  font-size: 50%;
}

.centered {
  text-align: center;
}

a.unstyled {
  text-decoration: none;
}

a {
  color: #fff;
}

#fps {
  width: 80px;
  margin: 0 auto;
  display: none;
}

.no-bot {
  margin-bottom: 0;
}

.accelerate {
  margin-top: 0px;
}

.rounds {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.windot {
  font-size: 24px;
  margin-right: 3px;
}

.credits {
  width: 720px;
  margin: 50px auto;
  line-height: 2rem;
}

.credits p {
  margin: 3rem 0;
}

.timer-container {
  text-align: center;
  font-size: 1.17em;
  margin: 5px 0;
}
